<section class="second-section">
  <div class="container cont-second">
    <div class="text-section">
      <h2 class="second-title">
        Natural and <span class="second-span">certified organic</span>
      </h2>
      <p class="skincare">Skincare</p>
      <p class="second-text">
        At vero eos et accusamus et iusto odio dignissimos ducimus qui
        blanditiis praesentium voluptatum deleniti atque corrupti quos dolores
        et quas molestias excepturi.
      </p>
      <a href="#shop-all" class="second-link">Shop all</a>
    </div>
    <img src="./img/second/first.png" alt="" class="first-img" />
    <img src="./img/second/second.png" alt="" class="second-img" />
    <img src="./img/second/third.png" alt="" class="third-img" />
    <img src="./img/second/fourth.png" alt="" class="fourth-img" />
    <img src="./img/second/fifth.png" alt="" class="fifth-img" />
  </div>
</section>
