.second-section {
    min-height: 946px;
    position: relative;
    /* Ensure that child elements with absolute positioning are correctly placed */
}

.cont-second {
    position: relative;
    padding-top: 240px;
    text-align: center;
}

.second-title {
    font-weight: 600;
    font-size: 65px;
    line-height: 1.5;
    text-align: center;
    color: #000;
    font-family: "Abhaya Libre", sans-serif;
}

.second-span {
    display: block;
    font-weight: 600;
    font-size: 70px;
    line-height: 1.4;
    text-align: center;
    color: #000;
}

.skincare {
    font-size: 137px;
    line-height: 0.82;
    text-align: center;
    color: #589b7ac2;
    transform: rotate(-5deg);
    font-family: 'Sevillana', cursive;
    font-weight: 700;
    margin: -24px 0 20px;
}

.second-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.4;
    text-align: center;
    color: #000;
    margin: 0 auto;
    max-width: 649px;
}

.second-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.4;
    text-align: center;
    /* Centers text inside the link */
    color: #68513f;
    border: 1px solid #dacec6;
    border-radius: 73px;
    padding: 13px 21px;
    background: #f1ebe7;

    /* Shortened transition duration for better responsiveness */
    transition: background-color 0.3s, color 0.3s;

    /* Centering properties */
   
display: inline-block;
    /* Adjust margins */
    margin: 48px auto 0;
    /* Center with auto margins on left and right */
    max-width: 95px;
    /* Limit the width */
    max-height: 45px;
    /* Limit the height */
}
.second-link:hover,
.second-link:focus {
    background-color: #589b7ac2;
    color: #000;
}

img {
    border-radius: 10px;
    position: absolute;
  
}

.first-img {
    top: 117px;
    left: 86px;
    width: 221px;
    height: 183px;
    animation: fadeIn 3s ease-in-out 0ms;
}

.second-img {
    top: 21px;
    right: 259px;
    width: 159px;
    height: 201px;
    animation: fadeIn 3s ease-in-out 1s;
}

.third-img {
    top: 266px;
    right: 115px;
    width: 221px;
    height: 114px;
    animation: fadeIn 3s ease-in-out 2s;
}

.fourth-img {
    top: 488px;
    left: 144px;
    width: 221px;
    height: 220px;
    animation: fadeIn 3s ease-in-out 3s;
}

.fifth-img {
    top: 569px;
    right: 202px;
    width: 222px;
    height: 220px;
    animation: fadeIn 3s ease-in-out 4s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}